<%
   var formatDate = function(date) {
   var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

   var dateSuffix = 'th';
   if (1 == date.getDate() || 21 == date.getDate())
   dateSuffix = 'st';
   if (2 == date.getDate() || 22 == date.getDate())
   dateSuffix = 'nd';
   if (3 == date.getDate() || 23 == date.getDate())
   dateSuffix = 'rd';

   return days[date.getDay()] + ', ' + months[date.getMonth()] + ' ' + date.getDate() + '<sup>' + dateSuffix + '</sup>, ' + date.getFullYear();
   };
%>

<!-- Top padding from menu -->
<div class="page-section-padding"></div>

<!-- Articles -->
<div class="featured">
  <!-- Section data -->
  <div class="outset">
    <div class="outset-box">
      <!-- Featured article -->
      <% if ('undefined' !== typeof featuredArticle) { %>
      <div class="article featured">
        <div class="top-data">
          <div class="article-thumbnail">
            <!-- Article image -->
            <a href="<%= featuredArticle.img %>" target="_blank">
              <h5><small><%= featuredArticle.img %></small></h5>
              <img src="<%= featuredArticle.img %>" alt="" />
            </a>
            
            <!-- Article title -->
            <h3><%= featuredArticle.title %></h3>
            <h4>by <a href="/user/Pampa"><%= featuredArticle.author %></a>, <%- formatDate(featuredArticle.lastUpdated) %></h4>
          </div>
        </div>

        <div class="float-right">
          <a href="/article/<%= featuredArticle.technicalName %>">Continue reading...</a>
        </div>
        <div class="clear"></div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<!-- Top padding from menu -->
<div class="page-section-padding"></div>
