<div class="row">
  <% if ('undefined' !== typeof rights &&
     'admin' == rights) { %>
  <a href="/article/edit" class="btn btn-primary col-xs-12" style="display:block;"><span class="glyphicon glyphicon-asterisk"></span> Create article</a>
  <% } %>
</div>

<div class="row">
  <% if ('undefined' !== typeof featuredArticle) { %>
  <div class="thumbnail col-xs-12">
    <img src="<%= featuredArticle.img %>" alt="<%= featuredArticle.img %>" />
    <a href="/article/<%= featuredArticle.technicalName %>">
      <h2><%- featuredArticle.title %></h2>
    </a>
    <p>
      <%- featuredArticle.caption %>
    </p>
    <div style="float:right;">
      <a href="/article/<%= featuredArticle.technicalName %>">Continue reading...</a>
    </div>
  </div>
  <% } %>
</div>

<div class="row">
  <% if ('undefined' !== typeof articleList) {
     for (var i = 0 ; articleList.length > i ; ++i) {
  var article = articleList[i]; %>
  <% if (true === article.featured) { %>
  <div class="thumbnail col-xs-12">
  <% } else { %>
  <div class="thumbnail col-xs-6">
  <% } %>
    <a href="/article/<%= article.technicalName %>">
      <h2><%= article.title %></h2>
    </a>
    <p>
      <%- article.caption %>
    </p>
    <div style="float:right;">
      <a href="/article/<%= article.technicalName %>">Continue reading...</a>
    </div>
  </div>
  <% } %>
  <% } %>
</div>
