<%
   var formatDate = function(date) {
   var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

   var dateSuffix = 'th';
   if (1 == date.getDate() || 21 == date.getDate())
   dateSuffix = 'st';
   if (2 == date.getDate() || 22 == date.getDate())
   dateSuffix = 'nd';
   if (3 == date.getDate() || 23 == date.getDate())
   dateSuffix = 'rd';

   return days[date.getDay()] + ', ' + months[date.getMonth()] + ' ' + date.getDate() + '<sup>' + dateSuffix + '</sup>, ' + date.getFullYear();
   };
%>

<h2 class="inset content-title"><span class="icon-home"></span>&nbsp;&nbsp;Home</h2>

<!-- Articles -->
<div class="featured">
  <div class="outset">
    <!-- Featured article -->
    <% if ('undefined' !== typeof featuredArticle) { %>
    <div class="outset-box">
      <h2><span class="icon-star3"></span>&nbsp;&nbsp;Under the spotlight</h2>
      <div class="article featured">
        <div class="top-data">
          <div class="article-thumbnail">
            <!-- Article image -->
            <a href="/article/<%= featuredArticle.technicalName %>">
              <h5 class="hidden-mobile"><small><%= featuredArticle.img %></small></h5>
              <img src="<%= featuredArticle.img %>" alt="" />
            </a>
            <!-- !Article image -->
            
            <!-- Article title -->
            <h3><%= featuredArticle.title %></h3>
            <h4>by <a href="/user/Pampa"><%= featuredArticle.author %></a>, <%- formatDate(featuredArticle.lastUpdated) %></h4>
            <!-- !Article title -->
          </div>
        </div>

        <br />
        <div class="caption">
          <i><%= featuredArticle.caption %></i>
        </div>
        <br />

        <div class="float-right">
          <a href="/article/<%= featuredArticle.technicalName %>">Continue reading...</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <% } %>
    <!-- !Featured article -->

    <br />

    <!-- Other articles -->
    <div class="outset-box no-padding">
      <h2 class="article-list-small-title">Newest articles</h2>
      <div class="article-list-small">
        <% for (var i = 0 ; articleList.length > i ; ++i) {
        var article = articleList[i]; %>
        <div class="article">
          <div class="float-<%= (0 == i % 2 ? 'left' : 'right') %>">
            <div class="top-data <%= (0 == i % 2 ? 'left' : 'right') %>">
              <div class="article-thumbnail">
                <!-- Article image -->
                <a href="/article/<%= article.technicalName %>">
                  <img src="<%= article.img %>" alt="" />
                </a>
                <!-- !Article image -->
              </div>
            </div>
          </div>

          <div class="cell-2">
            <!-- Article title -->
            <h3 class="title"><%= article.title %></h3>
            <h4 class="author">by <a href="/user/Pampa"><%= article.author %></a>, <%- formatDate(article.lastUpdated) %></h4>
            <!-- !Article title -->

            <div class="caption">
              <i><%= article.caption %></i>
            </div>

            <div class="float-right">
              <a href="/article/<%= article.technicalName %>">Continue reading...</a>
            </div>
          </div>

          <div class="clear"></div>
        </div>
        <% if (articleList.length != i + 1) { %>
        <% } %>
        <% } %>
      </div>
    </div>
    <!-- !Other articles -->
  </div>
</div>
<!-- !Articles -->

<!-- Bottom padding from footer -->
<div class="page-section-padding"></div>
<!-- !Bottom padding from footer -->
