<%
   var formatDate = function(date) {
   var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

   var dateSuffix = 'th';
   if (1 == date.getDate() || 21 == date.getDate())
   dateSuffix = 'st';
   if (2 == date.getDate() || 22 == date.getDate())
   dateSuffix = 'nd';
   if (3 == date.getDate() || 23 == date.getDate())
   dateSuffix = 'rd';

   return days[date.getDay()] + ', ' + months[date.getMonth()] + ' ' + date.getDate() + '<sup>' + dateSuffix + '</sup>, ' + date.getFullYear();
   };
%>

<h2 class="inset content-title"><span class="icon-newspaper"></span>&nbsp;&nbsp;Article</h2>

<div class="article">
  <% if ('undefined' !== typeof article) { %>
  <div class="top-data">
    <div class="article-thumbnail">
      <!-- Article image -->
      <a href="<%= article.img %>" target="_blank">
        <h5><small><%= article.img %></small></h5>
        <img src="<%= article.img %>" alt="" />
      </a>
      <!-- !Article image -->

      <!-- Article title -->
      <h3><%= article.title %></h3>
      <h4>by <a href="/user/Pampa"><%= article.author %></a>, <%- formatDate(article.lastUpdated) %></h4>
      <!-- !Article title -->
    </div>
  </div>

  <!-- Article tags -->
  <div class="inset tags">
    <ul class="unstyled flat">
      <li class="tag-group"><a href="/search/<%= article.tags.join('%20') %>"><span class="icon-tags hidden-hover"></span></a></li>
      <% for (var i = 0 ; article.tags.length > i ; ++i) { %>
      <li class="tag"><a href="/search/<%= article.tags[i] %>"><span class="icon-tag"></span>&nbsp;&nbsp;<%= article.tags[i] %></a></li>
      <% if (article.tags.length != i + 1) { %>
      <li></li>
      <% } %>
      <% } %>
    </ul>
  </div>
  <!-- !Article tags -->

  <div class="outset article-content-container">
    <div class="outset-box article-content">
      <!-- Article caption -->
      <div class="caption">
        <%- article.caption %>
      </div>
      <!-- !Article caption -->

      <!-- Article content -->
      <div class="content">
        <%- article.content %>
      </div>
      <!-- !Article content -->
    </div>
  </div>
  <% } %>
</div>

<!-- Article comments -->
<div id="pmp-comments" class="inset">
  <h2 class="article-comments-title">
    <% if (0 == comments.length) { %>
    <span class="icon-quotes-left"></span>&nbsp;&nbsp;No comments <i>yet</i>
    <% } else { %>
    <span class="icon-quotes-left"></span>&nbsp;&nbsp;<span class="text-big text-green"><%= comments.length %></span>&nbsp;&nbsp;comments
    <% } %>
  </h2>
</div>

<div class="outset article-comments">
  <% for (var i = 0 ; comments.length > i ; ++i) {
  var comment = comments[i]; %>
  <div class="outset-box comment">
    <div class="user">
      <span>
        <a href="/user/<%= comment.author %>" class="text-huge"><b><%= comment.author %></b></a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date"><= comment.created.getHours() %>:<%= comment.created.getMinutes() %><% 12 > comment.created.getHours() ? 'am' : 'pm' %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= formatDate(comment.created) %></span>
      </span>
    </div>
    <div class="content">
      <p>
        Great article! I love the connection between the "Lorem" and the "ipsum"!<br /><br />
        What do you want to do with it? Only testing and writing articles about it or maybe, I don't know, build a project around it?
      </p>
    </div>
  </div>
  <% } %>
</div>
<!-- !Article comments -->

<!-- Bottom padding from footer -->
<div class="page-section-padding"></div>
<!-- !Bottom padding from footer -->
