<%
   var formatDate = function(date) {
   var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

   var dateSuffix = 'th';
   if (1 == date.getDate() || 21 == date.getDate())
   dateSuffix = 'st';
   if (2 == date.getDate() || 22 == date.getDate())
   dateSuffix = 'nd';
   if (3 == date.getDate() || 23 == date.getDate())
   dateSuffix = 'rd';

   return days[date.getDay()] + ', ' + months[date.getMonth()] + ' ' + date.getDate() + '<sup>' + dateSuffix + '</sup>, ' + date.getFullYear();
   };
%>

<h2 class="inset content-title"><span class="icon-home2"></span>&nbsp;&nbsp;Home</h2>

<!-- Articles -->
<div class="home-article-list">
  <!-- Featured article -->
  <% if ('undefined' !== typeof featuredArticle) { %>
  <div class="featured">
    <div class="grid-12">
      <div class="cell-5 cell-mobile-12">
        <div class="thumbnail">
          <a href="/article/<%= featuredArticle.technicalName %>">
            <div class="date">
              <div class="day">
                <%= featuredArticle.lastUpdated.getDate() %>
              </div>

              <div class="month-year">
                <%= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][featuredArticle.lastUpdated.getMonth()] %>
                <%= featuredArticle.lastUpdated.getFullYear() %>
              </div>
            </div>

            <!-- Article image -->
            <img src="<%= featuredArticle.img %>" alt="" />
            <!-- !Article image -->
          </a>
        </div>
      </div>
      
      <div class="cell-7 cell-mobile-12">
        <a href="/article/<%= featuredArticle.technicalName %>" class="title-link">
          <!-- Article title -->
          <div class="title-author">
            <h3 class="title"><%= featuredArticle.title %></h3>
            <!-- <h4 class="author">by <a href="/user/<%= featuredArticle.author %>"><%= featuredArticle.author %></a></h4> -->
          </div>
        </a>
        <!-- !Article title -->

        <!-- Article tags -->
        <div class="inset tags">
          <ul class="unstyled flat">
            <li class="tag-group"><a href="/search/<%= featuredArticle.tags.join('%20') %>"><span class="icon-tags hidden-hover"></span></a></li>
            <% for (var i = 0 ; featuredArticle.tags.length > i ; ++i) { %>
            <li class="tag"><a href="/search/<%= featuredArticle.tags[i] %>"><span class="icon-tag"></span>&nbsp;&nbsp;<%= featuredArticle.tags[i] %></a></li>
            <% if (featuredArticle.tags.length != i + 1) { %>
            <li></li>
            <% } %>
            <% } %>
          </ul>
        </div>
        <!-- !Article tags -->

        <!-- Article caption -->
        <div class="caption-box">
          <div class="caption">
            <div class="caption-text">
              <i><%= featuredArticle.caption %></i>
            </div>

            <div class="continue">
              <a href="/article/<%= featuredArticle.technicalName %>" class="btn btn-blue">Continue reading...</a>
            </div>

            <div class="clear"></div>
          </div>
        </div>
        <!-- !Article caption -->
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <% } %>
  <!-- !Featured article -->

  <!-- Padding -->
  <div class="page-section-padding"></div>
  <!-- !Padding -->

  <div class="cell-mobile-12 hidden-desktop" style="text-align:center;color:#FFF;">&#9679;<br /><br /></div>

  <!-- Other articles -->
  <div class="grid-12 other-articles">
    <% for (var i = 0 ; articleList.length > i + 1 ; ++i) {
    var article = articleList[i]; %>
    <div class="cell-4 cell-mobile-12 article">
      <!-- Article title -->
      <a href="/article/<%= article.technicalName %>" class="title-link">
        <div class="title-author">
          <h3 class="title"><%= article.title %></h3>
          <h4 class="author"><%- formatDate(article.lastUpdated) %></h4>
        </div>
      </a>
      <!-- !Article title -->

      <!-- Article caption -->
      <div class="caption-box">
        <div class="caption">
          <div class="caption-text">
            <i><%= article.caption %></i>
          </div>

          <div class="float-right continue">
            <a href="/article/<%= article.technicalName %>" class="btn btn-blue">Continue reading...</a>
          </div>

          <div class="clear"></div>
        </div>
      </div>
      <!-- !Article caption -->
    </div>

    <div class="cell-mobile-12 hidden-desktop" style="text-align:center;color:#FFF;">&#9679;<br /><br /></div>
    <% } %>

    <% if (articleList.length > i) {
    var article = articleList[i]; %>
    <!-- Last article -->
    <div class="cell-mobile-12 hidden-desktop article">
      <!-- Article title -->
      <a href="/article/<%= article.technicalName %>" class="title-link">
        <div class="title-author">
          <h3 class="title"><%= article.title %></h3>
          <h4 class="author"><%- formatDate(article.lastUpdated) %></h4>
        </div>
      </a>
      <!-- !Article title -->

      <!-- Article caption -->
      <div class="caption-box">
        <div class="caption">
          <div class="caption-text">
            <i><%= article.caption %></i>
          </div>

          <div class="float-right continue">
            <a href="/article/<%= article.technicalName %>" class="btn btn-blue">Continue reading...</a>
          </div>

          <div class="clear"></div>
        </div>
      </div>
      <!-- !Article caption -->
    </div>
    <!-- !Last article -->
    <% } %>
  </div>

  <div class="clear"></div>
  <!-- !Other articles -->
</div>
<!-- !Articles -->

<!-- Bottom padding from footer -->
<div class="page-section-padding"></div>
<!-- !Bottom padding from footer -->
