<!-- User type (content title) -->
<div class="inset">
  <h2 class="inset content-title">
    <% if ('admin' === user.rights) { %>
    <span class="icon-evil2"></span>&nbsp;&nbsp;Administrator
    <% } else if ('priviledged' === user.rights) { %>
    <span class="icon-cool2"></span>&nbsp;&nbsp;Priviledged user
    <% } else if ('registered' === user.rights) { %>
    <span class="icon-smiley2"></span>&nbsp;&nbsp;User
    <% } else if ('guest' === user.rights) { %>
    <span class="icon-neutral2"></span>&nbsp;&nbsp;Guest
    <% } else { %>
    <span class="icon-wondering2"></span><%= user.rights %>
    <% } %>
  </h2>
</div>

<!-- User data -->
<div class="outset">
  <div class="outset-box">
    <% if ('undefined' !== typeof user) { %>
    <% if ('undefined' !== typeof user.pictureUrl) { %>
    <div style="float:left;padding:8px;padding-right:20px;">
      <img src="<%= user.pictureUrl %>" alt="user picture" style="max-width:100%;float:left;margin-right:16px;" />
    </div>
    <% } %>
    <div>
      <h2>
      <% if ('guest' === user.rights) { %>
      <small>Let's call him </small> <%= user.login %>
      <% } else { %>
      <%= user.login %>
      <% } %>

      <small>
      <% if ('admin' === user.rights) { %>
      <span class="text-red icon-evil"></span>
      <% } else if ('priviledged' === user.rights) { %>
      <span class="text-green icon-cool"></span>
      <% } else if ('registered' === user.rights) { %>
      <span class="text-green icon-smiley"></span>
      <% } else if ('guest' === user.rights) { %>
      <span class="text-grey icon-neutral"></span>
      <% } else { %>
      <span class="text-grey icon-wondering"></span>
      <% } %>
      </small>
      </h2>

      <% if ('undefined' !== typeof user.description) { %>
      <div>
        <%- user.description %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<!-- Top padding from menu -->
<div class="page-section-padding"></div>
