<div class="row">
  <% if ('undefined' !== typeof user) { %>
  <% if ('undefined' !== typeof user.pictureUrl) { %>
  <div style="float:left;padding:8px;padding-right:20px;">
    <img src="<%= user.pictureUrl %>" alt="user picture" style="max-width:100%;float:left;padding-right:24px;" />
  </div>
  <% } %>
  <div>
    <% if ('guest' === user.rights) { %>
    <h2><small>Let's call him </small> <%= user.login %></h2>
    <% } else { %>
    <h2><%= user.login %></h2>
    <% } %>
    <% if ('admin' === user.rights) { %>
    <h4><span style="color:#d9534f;margin-left:10%;">Administrator</span></h4>
    <% } else if ('priviledged' === user.rights) { %>
    <h4><span style="color:#5cb85c;margin-left:10%;">Priviledged user</span></h4>
    <% } else if ('registered' === user.rights) { %>
    <h4><span style="color:#428bca;margin-left:10%;">Registered user</span></h4>
    <% } else if ('guest' === user.rights) { %>
    <h4><span style="margin-left:15%;">Guest</span></h4>
    <% } else { %>
    <h4><span style="margin-left:10%;"><%= user.rights %></span></h4>
    <% } %>
    <% if ('undefined' !== typeof user.description) { %>
    <div>
      <%- user.description %>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
