<!-- User type (content title) -->
<div class="inset">
  <h2 class="inset content-title">
    <span class="icon-user"></span>&nbsp;&nbsp;
    <% if ('admin' === user.rights) { %>
    Administrator
    <% } else if ('priviledged' === user.rights) { %>
    Priviledged user
    <% } else if ('registered' === user.rights) { %>
    Registered user
    <% } else if ('guest' === user.rights) { %>
    Guest
    <% } else { %>
    <%= user.rights %>
    <% } %>
</div>

<!-- User data -->
<div class="outset">
  <div class="outset-box">
    <% if ('undefined' !== typeof user) { %>
    <% if ('undefined' !== typeof user.pictureUrl) { %>
    <div style="float:left;padding:8px;padding-right:20px;">
      <img src="<%= user.pictureUrl %>" alt="user picture" style="max-width:100%;float:left;margin-right:16px;" />
    </div>
    <% } %>
    <div>
      <% if ('guest' === user.rights) { %>
      <h2><small>Let's call him </small> <%= user.login %></h2>
      <% } else { %>
      <h2><%= user.login %></h2>
      <% } %>
      <% if ('undefined' !== typeof user.description) { %>
      <div>
        <%- user.description %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<!-- Top padding from menu -->
<div class="page-section-padding"></div>
