<% if ('undefined' !== typeof articleList) { %>
<% for (var i = 0 ; articleList.length > i ; ++i) {
var article = articleList[i]; %>
<div class="thumbnail">
  <div class="row">
    <div class="col-xs-2">
      <a href="/article/<%= article.technicalName %>"><img src="<%= article.img %>" alt="<%= article.img %>" style="max-width:100%;" /></a>
    </div>
    <div class="col-xs-10">
      <a href="/article/<%= article.technicalName %>">
	<h2>
	  <% if (article.featured) { %><span class="glyphicon glyphicon-star" style="color:#ED0;text-shadow:0 1px 2px #000;"></span><% } %>
	  <%= article.title %>
	</h2>
      </a>
      <p>
	  <%= article.caption %>
      </p>
      <div style="float:right;">
	<a href="/article/<%= article.technicalName %>">Continue reading...</a>
      </div>
    </div>
  </div>
</div>
<% } %>
<% } %>

<% if ('undefined' !== typeof pageCount) { %>
<center class="row">
  <div class="col-xs-2">
    <% if ('undefined' !== typeof actualPage && 0 < actualPage) { %>
    <a href="/articles/1"><button class="btn">
	<span class="glyphicon glyphicon-fast-backward"></span>
    </button></a>

    <a href="/articles/<%= actualPage %>"><button class="btn">
	<span class="glyphicon glyphicon-backward"></span>
    </button></a>
    <% } %>
  </div>

  <div class="col-xs-8">
    <% for (var i = 0 ; pageCount > i ; ++i) { %>
    <% if ('undefined' !== typeof actualPage && i == actualPage) { %>
    <button class="btn btn-primary">
      <%= i+1 %>
    </button>
    <% } else { %>
    <a href="/articles/<%= i+1 %>"><button class="btn">
	<%= i+1 %>
    </button></a>
    <% } %>
    <% } %>
  </div>

  <div class="col-xs-2">
    <% if ('undefined' !== typeof actualPage && i-1 > actualPage) { %>
    <a href="/articles/<%= actualPage+2 %>"><button class="btn">
	<span class="glyphicon glyphicon-forward"></span>
    </button></a>

    <a href="/articles/<%= i %>"><button class="btn">
	<span class="glyphicon glyphicon-fast-forward"></span>
    </button></a>
    <% } %>
  </div>
</center>
<% } %>

<br />

<nav>
  <a href="/home"><button class="btn btn-primary"><span class="glyphicon glyphicon-tower"></span> Home</button></a>
  <a href="/articles/"><button class="btn"><span class="glyphicon glyphicon-list"></span> Article list</button></a>
  <a href="/pseudo-random"><button class="btn"><span class="glyphicon glyphicon-flash"></span> Magic random</button></a>
  <button class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
</nav>
