<div class="thumbnail">
  <h3>Latest articles</h3>
  <% if ('undefined' !== typeof latestArticleList) {
     for (var i = 0 ; latestArticleList.length > i ; ++i) {
  var article = latestArticleList[i]; %>
  <div>
    <a href="/article/<%= article.technicalName %>"><%= article.title %></a>
  </div>
  <% } %>
  <% } %>
</div>

<div class="thumbnail">
  <h3>Hypestest articles</h3>
  <% if ('undefined' !== typeof hypestArticleList) {
     for (var i = 0 ; hypestArticleList.length > i ; ++i) {
  var article = hypestArticleList[i]; %>
  <div>
    <a href="/article/<%= article.technicalName %>"><%= article.title %></a>
  </div>
  <% } %>
  <% } %>
</div>

<div class="thumbnail">
  <h3>Most used tags</h3>
  <% if ('undefined' !== typeof mostUsedTagList) {
     for (var i = 0 ; mostUsedTagList.length > i ; ++i) {
  var tag = mostUsedTagList[i]; %>
  <a href="/search/<%= tag.name %>"><span class="label label-primary"><%= tag.name %></span></a>
  <% } %>
  <% } %>
</div>
