<div class="cell-4 hidden-mobile">
  <% if ('undefined' !== typeof login) { %>
  <div id="login-info">
    <%= login %>
    <form method="post" action="/logout">
      <button type="submit" class="btn">Logout</button>
    </form>
  </div>
  <% } else { %>
  <!-- Panel to hide login with website logo -->
  <div id="login-form-panel" class="banner hidden-mobile" href="/">
    <img src="http://i.imgur.com/Atsf9xx.png" alt="banner">
  </div>
  <!-- !Panel to hide login with website logo -->

  <!-- Login form -->
  <div id="login-form" class="hidden">
    <form method="post" action="/login">
      <div class="grid-12 input-group">
        <div class="cell-2">
          <span class="icon-user plate"></span>
        </div>
        <div class="cell-8">
          <input type="text" name="login" placeholder="Username..." />
        </div>
        <div class="cell-2">
          <button type="button" class="close btn">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>

      <div class="grid-12 input-group">
        <div class="cell-2">
          <span class="icon-key plate"></span>
        </div>
        <div class="cell-8">
          <input type="password" name="password" placeholder="Password..." />
        </div>
        <div class="cell-2">
          <button type="submit" class="btn btn-green"><span class="icon-checkmark"></span></button>
        </div>
      </div>
    </form>
  </div>
  <!-- !Login form -->
  <% } %>

  <!-- Search form -->
  <form method="post" action="/search">
    <div class="grid-12 input-group">
      <div class="cell-10">
        <input type="text" name="data" class="big" placeholder="Search..." />
      </div>
      <div class="cell-2">
        <button type="submit" class="btn btn-success big"><span class="icon-search"></span></button>
      </div>

      <div class="clear"></div>
    </div>
  </form>
  <!-- !Search form -->
  
  <div class="site-menu">
    <h2 class="first"><a href="/search/latest">Latest articles</a></h2>
    <ul class="unstyled">
      <% if ('undefined' !== typeof latestArticleList) {
         for (var i = 0 ; latestArticleList.length > i ; ++i) {
      var article = latestArticleList[i]; %>
      <li><a href="/article/<%= article.technicalName %>"><span class="icon-newspaper"></span>&nbsp;&nbsp;<%- article.title %></a></li>
      <% } %>
      <% } %>
    </ul>
  </div>

  <div class="site-menu">
    <h2><a href="/search/hypest">Hyp<span style="font-size:0.9em">e<span style="font-size:0.9em">s<span style="font-size:0.9em">t<span style="font-size:0.9em">e<span style="font-size:0.9em">s<span style="font-size:0.9em">t</span></span></span></span></span></span></a></h2>
    <ul class="unstyled">
      <% if ('undefined' !== typeof hypestArticleList) {
         for (var i = 0 ; hypestArticleList.length > i ; ++i) {
      var article = hypestArticleList[i]; %>
      <li><a href="/article/<%= article.technicalName %>"><span class="icon-newspaper"></span>&nbsp;&nbsp;<%- article.title %></a></li>
      <% } %>
      <% } %>
    </ul>
  </div>

  <div class="site-menu">
    <h2><a href="/search/tags">Most popular tags</a></h2>
    <ul class="unstyled flat">
      <% if ('undefined' !== typeof mostUsedTagList) {
         for (var i = 0 ; mostUsedTagList.length > i ; ++i) {
      var tag = mostUsedTagList[i]; %>
      <li><span class="tag"><a href="/search/<%= tag.name %>"><span class="icon-tag"></span>&nbsp;&nbsp;<%= tag.name %></a></span></li>
      <% if (mostUsedTagList != i + 1) { %>
      <li></li>
      <% } %>
      <% } %>
      <% } %>
    </ul>
  </div>
</div>
