<div id="contentContent">
  <% if ('undefined' !== typeof article) { %>
  <a href="<%= article.img %>"><img src="<%= article.img %>" alt="<%= article.img %>" style="max-width:100%;" /></a>
  <h2>
    <%= article.title %>
  </h2>
  <h4 style="margin-left:10%;">
    by <a href="/user/<%= article.author %>"><%= article.author %></a>,<br/>
    <small>
      <%= ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][article.lastUpdated.getDay()] %>,
      <%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][article.lastUpdated.getMonth()] %>
      <%= article.lastUpdated.getDate() %><sup><%= ['st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st'][article.lastUpdated.getDate() - 1] %></sup>
      <%= article.lastUpdated.getFullYear() %>
    </small>
  </h4>
  <p><i>
      <%= article.caption %>
  </i></p>
  <br />
  <div style="overflow:hidden;">
    <%- article.content %>
  </div>
  <div>
    <% for (var i = 0 ; article.tags.length > i ; ++i) { %>
    <span class="label label-primary"><%= article.tags[i] %></span>
    <% } %>
  </div>
  <br /><br />

  <% } %>

  <nav>
    <a href="/home"><button class="btn btn-primary"><span class="glyphicon glyphicon-tower"></span> Home</button></a>
    <a href="/search/"><button class="btn btn-default"><span class="glyphicon glyphicon-tags"></span> Search by similar tags</button></a>
    <a href="/pseudo-random"><button class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> Magic random</button></a>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
  </nav>
</div>
