<%
   var padNumber = function(number, length) {
     var str = '' + number;
     while (str.length < length) {
       str = '0' + str;
     }
     return str;
   };

   var formatDate = function(date) {
   return date.getFullYear() + '-' + padNumber(date.getMonth(), 2) + '-' + padNumber(date.getDate(), 2);
   };
%>

<% if ('undefined' !== typeof rights && 'admin' == rights) { %>
<script type="application/javascript">
  (function() {
    $(document).ready(function() {
      var reportStateList = $('.report-list .report .state button');
      $('body').click(function(event) {
        var found = false;
        for (var i = 0 ; reportStateList.length > i ; ++i) {
          if (reportStateList[i] == event.target)
            found = true;
        }

        if (!found)
          $('.report-list .report .new-state-list').slideUp(200);
      });
    });
  })();
</script>
<% } %>

<h2 class="inset content-title"><span class="icon-stats"></span>&nbsp;&nbsp;Reports</h2>

<div class="report-list">
  <% for (var i = 0 ; reportList.length > i ; ++i) {
  var report = reportList[i]; %>
  <div class="report<% if ('closed' == report.state) { %> inactive<% } %>">
    <div class="report-head">
      <span class="type">
        <% if ('bug' == report.type) { %>
        <span class="icon-bug"></span> Bug
        <% } else if ('feature' == report.type) { %>
        <span class="icon-brightness-medium"></span> Feature
        <% } else if ('comment' == report.type) { %>
        <span class="icon-heart"></span> Comment
        <% } else if ('other' == report.type) { %>
        <span class="icon-question"></span> Other
        <% } else { %>
        <span style="text-transform:capitalize;"><%= report.type %></span>
        <% } %>
      </span>
      <span class="author">by <%= report.author %>, <small><%= formatDate(report.created) %></small></span>

      <div class="state hidden-mobile">
        <form method="POST" action="/reports/change-state">
          <% if ('open' == report.state) { %>
          <button type="button" class="label label-red label-round cursor-normal<% if ('undefined' !== typeof rights && 'admin' == rights) { %>cursor-pointer;" onclick="$(this).siblings('.new-state-list').slideToggle(200);<% } %>">Open</button>
          <% } else if ('inProgress' == report.state) { %>
          <button type="button" class="label label-orange label-round cursor-normal<% if ('undefined' !== typeof rights && 'admin' == rights) { %>cursor-pointer;" onclick="$(this).siblings('.new-state-list').slideToggle(200);<% } %>">In progress</button>
          <% } else if ('closed' == report.state) { %>
          <button type="button" class="label label-green label-round cursor-normal<% if ('undefined' !== typeof rights && 'admin' == rights) { %>cursor-pointer;" onclick="$(this).siblings('.new-state-list').slideToggle(200);<% } %>">Closed</button>
          <% } %>

          <div class="clear"></div>

          <% if ('undefined' !== typeof rights && 'admin' == rights) { %>
          <div class="new-state-list">
            <div>
              <button class="label label-red" type="submit" name="stateOpen">Open</button>
              <button class="label label-orange" type="submit" name="stateInProgress">In progress</button>
              <button class="label label-green" type="submit" name="stateClosed">Closed</button>
            </div>
          </div>
          <% } %>

          <input type="hidden" name="id" value="<%= report._id %>" />
        </form>
      </div>
      <div class="state hidden-desktop">
        <% if ('open' == report.state) { %>
        <span class="label label-red label-round">Open</span>
        <% } else if ('inProgress' == report.state) { %>
        <span class="label label-orange label-round">In progress</span>
        <% } else if ('closed' == report.state) { %>
        <span class="label label-green label-round">Closed</span>
        <% } %>
      </div>

      <div class="clear"></div>
    </div>

    <div class="report-description">
      <%= report.content %>
    </div>
  </div>
  <% } %>
</div>

<!-- Section padding -->
<!--
<div class="page-section-padding"></div>
-->
<!-- !Section padding -->

<!-- Page movement -->
<!--
<div class="page-movement">
  <div class="grid-4">
    <div class="cell-1"><a href="/reports" class="btn"><span class="icon-first"></a></div>
    <div class="cell-1"><a href="/reports" class="btn"><span class="icon-backward2"></a></div>
    <div class="cell-1"><a href="/reports" class="btn"><span class="icon-forward3"></a></div>
    <div class="cell-1"><a href="/reports" class="btn"><span class="icon-last"></a></div>
  </div>

  <div class="clear"></div>
</div>
-->
<!-- !Page movement -->

<!-- Bottom padding from footer -->
<div class="page-section-padding"></div>
<!-- !Bottom padding from footer -->
